*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.section{
    margin-bottom: 160px;
}
.button--light{
    width: 185px;
    padding: 15px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: bold;
    background-color: #16c2a3;
    color: #fff;
    text-transform: uppercase;
}
.button--light:hover{
    background-color: #4b4b4d;
    color: #fff;
    transition: .2s;
}
.button--dark{
    width: 185px;
    padding: 15px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4b4b4d;
    color: #fff;
    text-transform: uppercase;
}
.button--dark:hover{
    background-color: #16c2a3;
    color: #fff;
    transition: .2s;
}
.navbar-toggler-icon{
    background-image: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    padding: .5rem 0rem !important;
}
.banner{
    background-image: url(../images/mainbanner.png);
    background-size: cover;
    min-height: 100vh;
}
.logo{
    margin: 0px;
    color: #16c2a3;
}
.nav-link{
    font-size: 18px;
    font-weight: 500;
    color: #fff !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    text-transform: uppercase;
}
.content{
    position: relative;
}
.banner-content{
    position: absolute;
    top: 250px;
}
.banner-content__title{
    font-size: 50px;
    color: #fff;
    margin-bottom: 48px;
}
.banner-content__text{
    font-size: 22px;
    color: #fff;
    margin-bottom: 48px;
}
.banner-content__btn{
    background-color: #16c2a3;
    color: #fff;
}
.title{
    font-size: 36px;
    color: #4b4b4d;
    margin-bottom: 48px;
}
.text{
    font-size: 16px;
    color: #4b4b4d;
    margin-bottom: 48px;
}
.what-we-do__btn{
    background-color: #4b4b4d;
    color: #fff;
}
.what-we-do__btn:hover{
    color: #fff;
    background-color: #16c2a3;
    transition: .2s;
}
.our-services__text{
    margin-bottom: 100px;
}
.our-services__content{
    flex: 1;
    padding: 15px;
    border: solid;
    border-image: linear-gradient(to right, #4ec395 , #dfc56f );
    border-image-slice: 1;
    border-width: 2px;
}
.our-services__image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.content__title{
    font-size: 18px;
    color:#4b4b4d;
    text-align: center;
    margin-bottom: 10px;
}
.content__text{
    font-size: 16px;
    color: #4b4b4d;
    text-align: center;
    margin-bottom: 40px;
}
.content__btn{
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 25%;
    bottom: -10%;
    background-color: #4b4b4d;
    width: 185px;
    padding: 15px;
    border-radius: 35px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background-size: 200%;
}
.content__btn:hover{
    color: #fff;
    transition-timing-function: ease-in;
    background-image: linear-gradient(to right, #4ec395 0%, #dfc56f 51%, #2BC0E4 100%)
}
.promo-block{
    display: flex;
}
.promo-block__image{
    flex: 1;
    background-image: url(../images/promo-image.png);
    background-size:cover;
    box-shadow:inset 0 0 0 2000px #4ec395ba;
    background-position: center;
}
.promo-block__content{
    width: 75%;
    margin: auto;
    padding: 55px 0;
}
.promo-block__title{
    font-size: 28px;
    color: #fff;
}
.promo-block__text{
    font-size: 18px;
    color: #fff;
}
.promo-block__input{
    height: 60px;
    font-size: 16px;
    border-radius: 25px 0 0 25px;

}
.promo-block__btn{
    height: 60px;
    border: none;
    background-color: #fff;
    color: #6c757d;
    text-transform: uppercase;
    border-radius: 0 25px 25px 0;
}
.promo-block__btn:focus{
    outline: none !important;
}
.stats{
    display: flex;
    column-gap: 50px;
    margin-bottom: 15px;
}
.numbers{
    border-right: 4px solid;
    flex: 1 80%;
    margin-right: 15px;
    border-color: #16c2a3;
    height: 85px;
}
.numbers__title{
    font-size: 48px;
    color: #16c2a3;
}
.numbers__text{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.support__title{
    font-size: 36px;
    color: #4b4b4d;
}
.support__text{
    font-size: 18px;
    color: #4b4b4d;
}
.support__content{
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}
.blog__title{
    font-size:36px;
    color: #4b4b4d;
}
.blog__text{
    font-size: 18px;
    color: #4b4b4d;
}
.last-news__title{
    font-size: 24px;
    color: #16c2a3;
    margin-bottom: 38px;
}
.last-news__link{
    font-size: 18px;
    color: #484949;
    text-transform: uppercase;
}